h2, h3  {
    font-family: 'Oswald', sans-serif;
}

.jumbotron {
    background-color:black;
    color: beige;
}
.container {
  background-color: blue;
}
.card{
  color: black;
  margin-bottom:2%;
}
.cardsall{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
