<div class="container">
  <br>
  <div class="jumbotron">
    <h2 class="text-center">Github-Look</h2>
    <br>
    <form class="search-form">
      <div class="form-group">
        <div>
          <label for="userName"><b>User Name:</b></label>
          <input [(ngModel)]="username" (keyup)="findProfile()" class="form-control" name="username" placeholder="Enter Username" rows="2" required />
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-4">
        <div *ngIf="profile">
          <h4>User Details</h4>
          <p>Name: {{profile.username}}</p>
          <a href="{{profile.html_url}}" target="_blank" class="btn btn-outline-success btn-sm">View profile on
            github</a>
          <hr>
          <img class="img-circle img-responsive" src="{{profile.avatar_url}}" width="150" height="auto" />
          <p>Username: {{profile.login}}</p>
          <p>Bio: {{profile.bio}}</p>
          <p>Followers: {{profile.followers}}</p>
          <p>Following: {{profile.following}}</p>

          <p>Location: {{profile.repos}}</p>
        </div>
      </div>
      <div class="col-md-8 ">
        <h4>Repositories</h4>
        <div class="cardsall">
          <div class="card" style="width:20rem" *ngFor="let repo of repos">
            <p>Repo Name: {{repo.name}}</p>
            <p>Description: {{repo.description}}</p>

            <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-outline-info pull-right">View this project
              on github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
